

body {
    margin: 0;
    padding: 0;
}

button[aria-pressed="true"] {
    background-color: cornflowerblue;
    color: white;
}

.score {
    color: cornflowerblue;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    /* position: absolute; */
    /* top: 1rem;
    left: 1rem; */
}

.track-editor-svg {
    position: absolute;
    top: 0;
    left: 0;
}

.track-editor-control-point * {
    opacity: 0.25;
    cursor: pointer;
}


.track-editor-control-point:active circle,
.track-editor-control-point:focus circle,
.track-editor-control-point:focus-within circle,
.track-editor-control-point:hover circle {
    opacity: 0.75;
}

.track-editor-control-point-arm:active,
.track-editor-control-point-arm:focus,
.track-editor-control-point-arm:focus-within,
.track-editor-control-point-arm:hover {
    opacity: 1;
}

.track-editor-label-ignore {
    pointer-events: none;
}